<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025513194578-23gla12o2nf20t990hbgad3c7lk6shkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025513194578-23gla12o2nf20t990hbgad3c7lk6shkb</string>
	<key>API_KEY</key>
	<string>AIzaSyDM2uyvw2s9owp49yRcKMMFWTZDPpUc-6U</string>
	<key>GCM_SENDER_ID</key>
	<string>1025513194578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.studiomvp.itafest</string>
	<key>PROJECT_ID</key>
	<string>itafest-app</string>
	<key>STORAGE_BUCKET</key>
	<string>itafest-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025513194578:ios:4c191e9d51f75057ddcb8b</string>
	<key>DATABASE_URL</key>
	<string>https://itafest-app.firebaseio.com</string>
</dict>
</plist>